**/*.iml
**/*.soy.js
**/*.swp
**/*~
**/.DS_Store
**/.classpath
**/.ivy
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/build_theme
**/classes
**/dist
**/liferay-theme.json
**/node_modules
**/out/**
**/reasonFile
**/src/main/resources-generated
**/soy.js
**/test-coverage
**/tmp
.gradle
.idea